[Unit]
Description=Kubectl Port Forward for Flask Service
After=network.target

[Service]
Type=simple
User=%i
ExecStart=/usr/bin/kubectl port-forward svc/flask-service 5000:80 --address 0.0.0.0
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target

